:root {
  /* Font */
  var-baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
  var-htmlFontFamily: var(baseFontFamily);
  var-headingsFontFamily: var(baseFontFamily);
  var-inputFontFamily: var(baseFontFamily);
  var-buttonFontFamily: var(baseFontFamily);
  var-codeFontFamily: Consolas, Monaco, monospace, sans-serif;
  var-blockquotePsuedo: 6em;

  /* Base color */
  var-colorBody: #333;
  var-colorHeadings: #222;

  /* Type */
  var-baseFontSize: 14;
  var-baseLineHeight: 1.65;
  /* var-baseLine: math(var(baseFontSize) * var(baseLineHeight)); */
  var-baseLine: 23.1;

  /* Grid */
  var-gridWrapperPadding: 0 1em;
  var-gridWidth: 1400;
  var-gridGutterWidth: 30;

  /* Misc sizes */
  var-listsLeft: 2em;
  var-columnarWidth: 150px;
  var-columnarMargin: 20px;

  /* Tables */
  var-tableContainer: 14px;
  var-tableContainerRadius: 8px;
  var-tableContainerBackground: rgba(0,0,0,0.3);

  /* Forms */
  var-inputBackground: var(colorWhite);
  var-inputBorderColor: #ccc;
  var-inputFocusColor: #5ca9e4;
  var-inputAppendPrependBackground: #eee;
  var-inputAppendPrependBorder: darken(var(inputAppendPrependBackground), 5%);
  var-inputAppendPrependColor: var(colorBody);
  var-formsSectionBorder: var(inputBorderColor);

  /* Font sizes */
  var-bigFontSize: 1.2em;
  var-smallFontSize: 0.85em;
  var-superSmallFontSize: 0.7em;

  /* Colors */
  var-colorBlack: #000;
  var-colorGrayDark: #555;
  var-colorGray: #777;
  var-colorGrayLight: #999;
  var-colorWhite: #fff;
  var-colorRed: #ef6465;
  var-colorOrange: #f48a30;
  var-colorGreen: #90af45;
  var-colorBlue: #1c7ab4;
  var-colorYellow: #f3c835;

  /* FloatingImages */
  var-floatingMargin: 1em;
  var-floatingBackgroundColor: var(colorWhite);
  var-floatingPadding: 0;
  var-floatingBorder: none;
  var-fieldsBottom: 1.65em;

  /* LinkColor */
  var-colorLink: #369;
  var-colorLinkHover: darken(var(colorLink), 10%);
  var-navMainColor: var(colorGrayLight);

  /* BackgroundColor */
  var-markBackgroundColor: #fe5;
  var-tfootBackgroundColor: #f2f2f2;
  var-colorStripedTable: #f5f5f5;
  var-colorHoveredTable: #f6f6f6;
  var-navStackedAHoverBackground: var(colorStripedTable);
  var-paginationBackgroundColor: var(colorGrayDark);
  var-navPillsBackground: var(colorStripedTable);

  /* Borders */
  var-tableBordered: #ddd;
  var-tableStroked: #ccc;
  var-cellBorder: 1px solid #eee;
  var-cellBorderDark: 1px solid #ddd;
  var-fieldsetBorder: 1px solid #e3e3e3;
  var-navBorderColor: var(tableStroked);
  var-navBorderColorLight: var(tableBordered);
  var-navTabsBorderColor: #e3e3e3;

  /* Labels */
  var-labelBorderColor: var(tableBordered);

  /* Buttons */
  var-btnActiveColor: var(colorGray);
  var-btnDisabledColor: var(colorGrayLight);

  /* Code */
  var-codeBackgroundColor: #f5f5f5;
  var-com: var(colorGrayLight);
  var-lit: #195f91;
  var-pun: #93a1a1;
  var-fun: #005cb9;
  var-str: #8A6343;
  var-kwd: var(colorBlack);
  var-typ: var(colorGrayDark);
  var-pln: #5890AD;

  /* Util */
  var-em: 14em; /* outputting ems, e.g. 14/var-em */

}