/*Typography*/
body {
	background: var(colorWhite);
	color: var(colorBody);
	font-size: math(var(baseFontSize) / 16 * 1em);
	line-height: math(var(baseLine)/var(em));
	font-family: var(baseFontFamily);
}
a {
	color: var(colorLink);
}
a:focus,
a:hover {
	color: var(colorLinkHover);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(colorHeadings);
	font-family: var(headingsFontFamily);
	font-weight: bold;
}
h1 {
	font-size: math(var(baseFontSize) * 2.142 / var(em));
	line-height: 1.1333em;
	margin-bottom: .2666em;
}
h2 {
	font-size: math(var(baseFontSize) * 1.714 / var(em));
	line-height: 1.1666em;
	margin-bottom: .4555em;
}
h3 {
	font-size: math(var(baseFontSize) * 1.429 / var(em));
	line-height: 1.4em;
	margin-bottom: .4em;
}
h4 {
	font-size: math(var(baseFontSize) * 1.143 / var(em));
	line-height: var(baseLine) / var(em);
	margin-bottom: .4555em;
}
h5 {
	font-size: math(var(baseFontSize) / var(em));
	line-height: var(baseLine) / var(em);
	margin-bottom: .5em;
}
h6 {
	font-size: math(var(baseFontSize) * 0.857  / var(em));
	line-height: 1.5em;
	margin-bottom: .4555em;
	text-transform: uppercase;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
	margin-bottom: 0;
}
hgroup {
	margin-bottom: 0.6em;
}
.subheader {
	font-weight: 300;
	color: var(colorGrayLight);
}

h1.subheader {
	font-size: math(var(baseFontSize) * 1.357 / var(em));
	line-height: 1.263em;
}
h2.subheader {
	font-size: math(var(baseFontSize) * 1.214 / var(em));
	line-height: 1.412em;
}
h3.subheader {
	font-size: math(var(baseFontSize) / var(em));
	line-height: 1.286em;
}
h4.subheader,
h5.subheader {
	font-size: math(var(baseFontSize) * 0.95 / var(em));
	line-height: 1.385em;
}
h6.subheader {
	font-size: math(var(baseFontSize) * 0.8 / var(em));
	line-height: 1.364em;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
	line-height: math(var(baseLine)/var(em));
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0 0 0 var(listsLeft);
}
ol ol li {
	list-style-type: lower-alpha;
}
ol ol ol li {
	list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
fieldset,
figure {
	margin-bottom: math(var(baseLine)/var(em));
}
dl dt {
	font-weight: bold;
}
dd {
	margin-left: math(var(listsLeft) / 2);
}
blockquote {
	margin-bottom: math(var(baseLine)/var(em));
	position: relative;
	color: var(colorGray);
	padding: 0 3.5em;
}

blockquote:before {
	color: lighten(var(colorGray, 15%));
	font-size: var(blockquotePsuedo);
	position: absolute;
	content: '\00AB';
	left: 0;
	top: 3px;
}

blockquote small,
cite {
	color: var(colorGrayLight);
	font-style: normal;
}
blockquote p {
	margin-bottom: .5em;
}
small,
blockquote cite {
	font-size: var(smallFontSize);
	line-height: 1;
}
blockquote .pull-right,
.units-row blockquote .pull-right {
	float: none;
	text-align: right;
	display: block;
}
address {
	font-style: italic;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted var(colorBlack);
	cursor: help;
}
strong,
b {
	font-weight: bold;
}
em,
i {
	font-style: italic;
}
sub,
sup {
	font-size: var(superSmallFontSize);
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
figcaption {
	font-size: var(smallFontSize);
	font-style: italic;
}
ins,
mark {
	background-color: var(markBackgroundColor);
	color: var(colorBlack);
	text-decoration: none;
}
pre,
code,
kbd,
samp {
	font-size: 90%;
	font-family: var(codeFontFamily);
}
pre {
	font-size: 90%;
	color: var(colorGrayDark);
	background: var(codeBackgroundColor);
	padding: .85em;
	overflow: auto;
}
code {
	padding: 2px 3px;
	display: inline-block;
	line-height: 1;
	background: var(codeBackgroundColor);
	border: 1px solid darken(var(codeBackgroundColor), 10%);
}
kbd {
	padding: 2px 6px 1px 6px;
	line-height: 1;
	display: inline-block;
	border-radius: .3em;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px white inset;
	background-color: var(codeBackgroundColor);
	border-color: darken(var(codeBackgroundColor), 5%) darken(var(codeBackgroundColor), 5%) white;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	color: var(colorGrayDark);
	font-weight: normal;
	white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	font-size: .95em;
}
fieldset {
	padding: math(var(baseLine)/var(em));
	margin-bottom: math(var(baseLine)/var(em));
	border: var(fieldsetBorder);
}
legend {
	font-weight: bold;
	padding: 0 1em;
}