.com {
  color: var(com);
}
.lit {
  color: var(lit);
}
.pun, .opn, .clo {
  color: var(pun);
}
.fun {
  color: var(fun);
}
.str, .atv {
  color: var(str);
}
.kwd, .linenums, .tag {
  color: var(kwd);
}
.typ, .atn, .dec, .var {
  color: var(typ);
}
.pln {
  color: var(pln);
}
