/*Colors*/
.color-black {
	color: var(colorBlack);
}
.color-gray-dark {
	color: var(colorGrayDark);
}
.color-gray {
	color: var(colorGray);
}
.color-gray-light {
	color: var(colorGrayLight);
}
.color-white {
	color: var(colorWhite);
}
.color-red,
.error {
	color: var(colorRed);
}
.color-green,
.success {
	color: var(colorGreen);
}
.color-orange {
	color: var(colorOrange);
}
.color-green {
	color: var(colorGreen);
}
.color-blue {
	color: var(colorBlue);
}
.color-yellow {
	color: var(colorYellow);
}

/* Link Colors Hover */
a.color-white:focus,
a.color-white:hover {
	color: darken(var(colorWhite), 25%);
}
a.color-green:focus,
a.color-green:hover,
a.color-red:focus,
a.color-red:hover,
a.color-error:focus,
a.color-error:hover  {
	color: var(colorBlack);
}