/*Colors*/
.color-black {
	color: var(colorBlack);
}
.color-gray-dark {
	color: var(colorGrayDark);
}
.color-gray {
	color: var(colorGray);
}
.color-gray-light {
	color: var(colorGrayLight);
}
.color-white {
	color: var(colorWhite);
}
.color-red,
.error {
	color: var(colorRed);
}
.color-green,
.success {
	color: var(colorGreen);
}
.color-orange {
	color: var(colorOrange);
}
.color-green {
	color: var(colorGreen);
}
.color-blue {
	color: var(colorBlue);
}
.color-yellow {
	color: var(colorYellow);
}

/* Link Colors Hover */
a.color-white:focus,
a.color-white:hover {
	color: darken(var(colorWhite), 25%);
}
a.color-green:focus,
a.color-green:hover,
a.color-red:focus,
a.color-red:hover,
a.color-error:focus,
a.color-error:hover  {
	color: var(colorBlack);
}

/*Background*/
.bg-black {
	background-color: var(colorBlack);
}
.bg-gray-dark {
	background-color: var(colorGrayDark);
}
.bg-gray {
	background-color: var(colorGray);
}
.bg-gray-light {
	background-color: var(colorGrayLight);
}
.bg-white {
	background-color: var(colorWhite);
}
.bg-red {
	background-color: var(colorRed);
}
.bg-green {
	background-color: var(colorGreen);
}
.bg-orange {
	background-color: var(colorOrange);
}
.bg-green {
	background-color: var(colorGreen);
}
.bg-blue {
	background-color: var(colorBlue);
}
.bg-yellow {
	background-color: var(colorYellow);
}