.label,
.label-badge {
	border-radius: 2em;
	border: 1px solid var(labelBorderColor);
	font-size: .7em;
	display: inline-block;
	position: relative;
	top: -1px;
	line-height: 1;
	padding: 3px 8px;
	color: var(colorBlack);
	background-color: var(colorWhite);
	text-decoration: none;
}
.label-badge {
	top: -4px;
	left: -1px;
}
.label-data {
	color: var(colorGrayLight);
	background: none;
	border: none;
	padding: 0;
}
a.label:hover {
	color: var(colorBlack);
	opacity: 0.6;
}
.label-black {
	background-color: var(colorBlack);
}
.label-red {
	background-color: var(colorRed);
}
.label-orange {
	background-color: var(colorOrange);
}
.label-green {
	background-color: var(colorGreen);
}
.label-blue {
	background-color: var(colorBlue);
}
.label-yellow {
	background-color: var(colorYellow);
}
.label-black,
.label-red,
.label-orange,
.label-green,
.label-blue,
.label-yellow {
	border: none;
	color: var(colorWhite);
	padding: 4px 8px;
}

a.label-black:hover,
a.label-red:hover,
a.label-orange:hover,
a.label-green:hover,
a.label-blue:hover,
a.label-yellow:hover {
	color: var(colorWhite);
}
.label-small {
	font-size: .6em;
	padding: 3px 5px;
}
