.message {
	position: relative;
	padding: 9px 13px;
	border: 1px solid lighten(var(colorGrayLight), 15);
	border-radius: 5px;
	margin-bottom: math(var(baseLine)/var(em));
	background-color: lighten(var(colorGrayLight), 36);
}
.message-error {
	color: darken(var(colorRed), 25);
	border-color: lighten(var(colorRed), 20);
	background-color: lighten(var(colorRed), 30);
}
.message-success {
	color: darken(var(colorGreen), 20);
	border-color: lighten(var(colorGreen), 30);
	background-color: lighten(var(colorGreen), 45);
}
.message-info {
	color: darken(var(colorBlue), 15);
	border-color: lighten(var(colorBlue), 42);
	background-color: lighten(var(colorBlue), 52);
}
.message header {
	font-weight: bold;
	font-size: 1.2em;
}
.message .close {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 6px;
}